<%flights.each do |flight|%>
<div class="row">
  <div class="col-sm-6">
    <h5 class="text-center">From:  <%=flight.departure%></h5>
  </div>
  <div class="col-sm-6">
    <h5 class="text-center">To:  <%=flight.destination%></h5>
  </div>
</div>
<table class="table table-hover table-responsive">
  <thead>
  <tr>
      <th>Pick</th>
      <th>Airlines</th>
      <th>Planes</th>
      <th>Date of Departure</th>
      <th>Time of Departure</th>
      <th>Price for <%=num%></th>
  </tr>
</thead>
  <tbody>
      <%(flight.planes).each do |plane|%>
        <%airline = plane.airline%>
        <tr>
          <td><%=radio_button_tag :plane_id, plane.id %></td>
          <td><%=airline%></td>
          <td><%=plane%></td>
          <td><%=date(flight)%></td>
          <td><%=time(flight)%></td>
          <%binding.pry%>
          <td><%=get_cost(airline, flight, num)%></td>
        </tr>
      <%end%>
    <%end%>
  </tbody>
</table>
