<h2 class="text-center">Search for a flight to that special city</h2>
<div class="form-wrapper">
  <div class="row">
     <%=form_for @flight_form, url: root_path, method: "get", class:"form-horizontal" do |f|%>
     <%= render "layouts/errors", object: @flight_form %>
      <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <%=f.label :departure_id, "Your take off point?", class:"control-label"%>
                <%=f.select :departure_id, options_for_select(airports), {}, class:"form-control"%>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <%=f.label :destination_id, "Your destination?", class:"control-label"%>
                <%=f.select :destination_id, options_for_select(airports), {}, class:"form-control"%>
              </div>
            </div>
          </div>
      </div>
      <br/>
      <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <%=f.label :departure_date, "Your flight date?", class:"control-label"%>
                <%=f.select :departure_date, options_for_select(dates), {}, class:"form-control"%>
              </div>
            </div>
            <div class="col-sm-6">
              <%=f.fields_for :booking do |booking_form|%>
                <div class="form-group">
                  <%=booking_form.label :no_of_passengers, "How many people?", class:"control-label"%>
                  <%=booking_form.select :no_of_passengers, options_for_select(no_of_passengers_arr), {}, class:"form-control"%>
                </div>
              <%end%>
            </div>
          </div>
      </div>
      <br/>
      <div class="col-sm-4 col-sm-offset-1">
        <button class="btn btn-block btn-mine" type="submit" name="send">
          SEARCH</button>
      </div>
      <div class="col-sm-4 col-sm-offset-1">
        <%=link_to "ALL FLIGHTS", all_flights_path, class:"btn btn-block btn-mine" %>
      </div>
       <%end%>
    </div>
</div>
