<div class="row">
  <div class="col-sm-6">
    <h4 class="text-center">From:  <%=dept(flights)%></h4>
  </div>
  <div class="col-sm-6">
    <h4 class="text-center">To:  <%=dest(flights)%></h4>
  </div>
</div>
<table class="table table-hover table-responsive">
  <thead>
  <tr>
      <th>Pick</th>
      <th>Airlines</th>
      <th>Date of Departure</th>
      <th>Time of Departure</th>
      <th>Price for <%=num%></th>
  </tr>
</thead>
  <tbody>
      <%flights.each do |flight|%>
        <tr>
          <td><%=radio_button_tag :flight_id, flight.id %></td>
          <td><%=flight.airline%></td>
          <td><%=date(flight)%></td>
          <td><%=time(flight)%></td>
          <td><%=get_cost(flight, num)%></td>
        </tr>
      <%end%>
  </tbody>
</table>
