<%dest = booking.flight_destination%>
<%dept = booking.flight_departure%>
<div class="row booking">
  <h2 class="text-center">Booking Details</h2>
<div class="col-sm-4 col-sm-offset-2  my-table">
  <table class="table text-center table-responsive table-bordered">
    <tr>
      <td>Booking Id</td>
      <td><%=booking.id%></td>
    </tr>
    <tr>
      <td>Ticket No</td>
      <td><%=booking.ticket_no%></td>
    </tr>
    <tr>
      <td>Destination Airport</td>
      <td><%=dest%></td>
    </tr>
    <tr>
      <td>Departure Airport</td>
      <td><%=dept%></td>
    </tr>
    <tr>
      <td>Date</td>
      <td><%=booking.date%></td>
    </tr>
    <tr>
      <td>Time</td>
      <td><%=booking.time%></td>
    </tr>
    <tr>
      <td>Airline</td>
      <td><%=booking.plane_airline%></td>
    </tr>
    <tr>
      <td>Plane</td>
      <td><%=booking.plane_name%></td>
    </tr>
    <tr>
      <td>No of Passengers</td>
      <td><%=booking.no_of_passengers%></td>
    </tr>
    <tr>
      <td>Cost</td>
      <td><%=booking.cost%></td>
    </tr>
  </table>
  <%if booking.time > Time.now%>
    <%= link_to "Cancel Booking", remove_path(booking),
    class: "btn btn-block btn-danger", method: :delete,
        data: { confirm: "Are you sure?" } %>
  <%end%>
</div>
<%=render "bookings/view_passenger", :booking => booking%>
</div>
