<div class="row">
  <%dest = booking.flight_destination%>
  <%dept = booking.flight_departure%>
  <div class="col-sm-3">
    <table class="table text-center my-table">
      <tr>
        <td>Ticket No</td>
        <td><%=booking.ticket_no%></td>
      </tr>
      <tr>
        <td>Destination Airport</td>
        <td><%=Airport.position(dest.id)%></td>
      </tr>
      <tr>
        <td>Departure Airport</td>
        <td><%=Airport.position(dept.id)%></td>
      </tr>
      <tr>
        <td>Date</td>
        <td><%=booking.flight_date%></td>
      </tr>
      <tr>
        <td>Time</td>
        <td><%=booking.flight_time%></td>
      </tr>
      <tr>
        <td>Airline</td>
        <td><%=booking.plane.airline.name%></td>
      </tr>
      <tr>
        <td>Plane</td>
        <td><%=booking.plane_name%></td>
      </tr>
      <tr>
        <td>No of Tickets</td>
        <td><%=booking.no_of_passengers%></td>
      </tr>
      <tr>
        <td>Cost</td>
        <td><%=booking.cost%></td>
      </tr>
    </table>
  </div>
  <div class="col-sm-6">
    <h3 class="text-center">Passenger Info</h3>
    <div class="form-wrapper my-passenger">
      <table class="table">
        <tr>
          <th>No</th>
          <th>Name</th>
          <th>Email</th>
        </tr>
        <% booking.passengers.each_with_index do |passenger, i| %>
        <tr>
          <td><%="Passenger #{i+1}"%></td>
          <td><%="#{passenger.name}"%></td>
          <td><%="#{passenger.email}"%></td>
        </tr>
        <% end %>
      </table>
      <%=link_to "Back to Flights", root_path, class:"btn btn-block btn-mine"%>
    </div>
  </div>
</div>
