<%= form_for @passenger do |f| %>
  <%= render "layouts/errors", object: @passenger %>
  <div class="form-group">
    <%= f.label :name, "Passenger Name", class:"control-label"%>
    <%= f.text_field :name, class: "form-control", placeholder:"Blessing Ebowe"%>
  </div>
  <div class="form-group">
    <%= f.label :email, "Passenger Email", class:"control-label"%>
      <%= f.email_field :email, class:"form-control", placeholder:"eaglesflight@gmail.com"%>
    </div>
  </div>
<% end %>%>
