<div class="col-sm-6">
  <% booking.passengers.each_with_index do |passenger, i| %>
  <div class="form-wrapper my-passenger">
    <caption><%="Passenger #{i+1}"%></caption>
    <table class="table">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
      </tr>
      <tr>
        <td><%="#{passenger.id}"%></td>
        <td><%="#{passenger.name}"%></td>
        <td><%="#{passenger.email}"%></td>
      </tr>
      <% end %>
    </table>
    <%=link_to "Back to Flights", root_path,
    class:"btn btn-block btn-mine"%>
  </div>
</div>
