<%provide(title: "Booking")%>
<div class="row my-ticket">
  <div class="col-sm-3">
        <table class="table text-center my-table">
          <tr>
            <td>Destination Airport</td>
            <td><%=@dest%></td>
          </tr>
          <tr>
            <td>Departure Airport</td>
            <td><%=@dept%></td>
          </tr>
          <tr>
            <td>Date</td>
            <td><%=@flight.date%></td>
          </tr>
          <tr>
            <td>Time</td>
            <td><%=@flight.time%></td>
          </tr>
          <tr>
            <td>Airline</td>
            <td><%=@airline%></td>
          </tr>
          <tr>
            <td>Plane</td>
            <td><%=@plane.name%></td>
          </tr>
          <tr>
            <td>No of Tickets</td>
            <td><%=@num%></td>
          </tr>
          <tr>
            <td>Cost for <%=pluralize(@num, "ticket")%></td>
            <td><%=@cost%></td>
          </tr>
        </table>
  </div>
  <div class="col-sm-6">
    <%= form_for @booking do |f| %>
      <%= render "layouts/errors", object: @booking %>
      <h3 class="text-center">Fill in Passenger Details below</h3>
      <div class="form-wrapper my-passenger">
        <%@num.times do |index|%>
          <%= f.fields_for :passenger do |p| %>
            <div class="form-group">
              <h4><%="Passenger #{index+1}"%></h4>
              <%= p.label :name, "Name", class:"control-label"%>
              <%= p.text_field :name, class: "form-control", placeholder:"Blessing Ebowe"%>
            </div>
            <div class="form-group">
              <%= p.label :email, "Email", class:"control-label"%>
              <%= p.email_field :email, class:"form-control", placeholder:"eaglesflight@gmail.com"%>
            </div>
            <% end %>
        <%end%>
        <button class="btn btn-block btn-mine" type="submit">SUBMIT</button>
      </div>
    <% end %>
  </div>
</div>
