<%provide(title: "Booking")%>
<div class="row my-ticket">
  <div class="col-sm-6">
      <table class="table text-center table-responsive table-bordered my-table">
        <tr>
          <td>Destination Airport</td>
          <td><%=@dest%></td>
        </tr>
        <tr>
          <td>Departure Airport</td>
          <td><%=@dept%></td>
        </tr>
        <tr>
          <td>Date</td>
          <td><%=date(@flight)%></td>
        </tr>
        <tr>
          <td>Time</td>
          <td><%=time(@flight)%></td>
        </tr>
        <tr>
          <td>Airline</td>
          <td><%=@airline%></td>
        </tr>
        <tr>
          <td>Plane</td>
          <td><%=@plane.name%></td>
        </tr>
        <tr>
          <td>No of Tickets</td>
          <td><%=@num%></td>
        </tr>
        <tr>
          <td>Cost</td>
          <td><%=cost = get_cost(@airline, @flight, @num)%></td>
        </tr>
      </table>
  </div>
  <div class="col-sm-6">
    <%= form_for @booking_form do |f| %>
    <%= render "layouts/errors", object: @booking_form %>
      <%= f.hidden_field :flight_id, value: @flight.id %>
      <%= f.hidden_field :plane_id, value: params[:plane_id] %>
      <%= f.hidden_field :cost, value: cost %>
      <%= f.hidden_field :no_of_passengers, value: @num %>
      <%if logged_in?%>
        <%= f.hidden_field :user_id, value: current_user.id %>
      <%end%>
      <div class="form-wrapper my-passenger">
        <%= f.fields_for :passengers do |passenger| %>
          <%@num.times do |index|%>
            <%=render "bookings/passenger", num: index + 1, :f => passenger %>
          <%end%>
        <% end %>
        <button class="btn btn-mine" type="submit">SUBMIT</button>
      </div>
    <% end %>
  </div>
</div>
