<%provide(:title, "Sign up")%>
<div class="align">
  <h2 class="text-center">Sign up</h2>
  <div class="form-wrapper">
    <%= form_tag "/auth/identity/register", class:"form-horizontal"%>
      <%= render "layouts/errors", object: @identity %>
      <div class="form-group">
        <%= label_tag :name, "Name", class:"control-label"%>
        <div class="col-md-9">
          <%= text_field_tag :name, @identity.try(:name),
          class:"form-control", placeholder:"Blessing Ebowe"%>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag :email, "Email", class:"control-label"%>
        <div class="col-md-9">
          <%= text_field_tag :email, @identity.try(:email),
          class:"form-control", placeholder:"eaglesflight@gmail.com"%>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag :password, "Password", class:"control-label" %>
        <div class="col-md-9">
          <%= password_field_tag :password, "", class:"form-control",
          placeholder:"************"%>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag :password_confirmation, "Confirm Password",
        class:"control-label" %>
        <div class="col-md-9">
          <%= password_field_tag :password_confirmation, "",
          class:"form-control", placeholder:"************"%>
        </div>
      </div><br/>
      <div class="row">
      <div class="col-sm-4">
        <button class="btn btn-block btn-primary" type="submit">
        </i>Sign Up</button>
      </div>
      <div class="col-sm-4">
        <%= link_to "Registered? Login Here", login_path,
        class:"btn btn-block btn-primary"%>
      </div>
    </div>
  </div>
</div>
