<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    <%=yield(:title)%> | Eagles Flight</title>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css", "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%=render 'layouts/shim'%>
</head>

<body>
  <%=render 'layouts/header'%>
    <div class="mycontainer">
      <% flash.each do |message_type, message| %>
        <div class="messager alert alert-<%= message_type %>">
          <%= message %>
        </div>
        <%end%>
          <%= yield %>
            <%=render 'layouts/footer'%>
</body>

</html>
